@charset "utf-8";
/* 创想电脑CSS代码说明*/
/* 开始部分*/
/* 这里的效果在part目录下*/
ul, li { margin:0; padding:0; list-style:none; }
#stuffbox { margin:0 0; line-height: 42px; }
/*标题*/
h1 { font-size:16px; font-weight:600; }
h2 { font-size:16px; margin-top:10px; }
h2, h3 { padding-left:10px; }
/*分页*/
.endPageNum { clear:both; font-size:12px; text-align:center; font-family:"微软雅黑","宋体"; }
.endPageNum table { margin:auto; }
.endPageNum .s1 { width:52px; }
.endPageNum .s2 { background:#1f3a87; border:1px solid #ccc; color:#fff; font-weight:bold; }
.endPageNum a.s2:visited { color:#fff; }
.endPageNum a { padding:2px 5px; margin:5px 4px 0 0; color:#1F3A87; background:#fff; display:inline-table; border:1px solid #ccc; float:left; }
.endPageNum a:visited { color:#1f3a87; }
.endPageNum a:hover { color:#fff; background:#1f3a87; border:1px solid #1f3a87; float:left; text-decoration:underline; }
.endPageNum .s3 { cursor:default; padding:2px 5px; margin:5px 4px 0 0; color:#ccc; background:#fff; display:inline-table; border:1px solid #ccc; float:left; }
/*图片展示&视频列表&模版内容页&产品内容页*/
#picList, #videoList { margin:0; padding:0; list-style:none; }
#picList li, #videoList li { width:144px; padding:3px 20px; text-align:center; float:left; }
#picList li img, #videoList li img, #templateView li img, #proList li img { padding:1px; background-color:#fff; border:1px solid #ccc; }
#picList li p, #videoList li p { text-align:center; border:0; margin:5px 0 10px 0; }
#picList a:hover { text-decoration:underline }
.pic-content { padding:10px 0; }

#playerDIV { width:450px; }
/*产品列表&产品内容页*/
.product_index img { padding:3px; border: 1px solid #FFFFFF; }
.product_index { float:left; border-bottom:#666 1px dotted; margin-bottom:20px; padding:5px 0 0 5px; display:block; width:98%; }
.product_index img { float:left; margin-right:35px; }
.product_index .pro_summarytxt { float:left; width:55%; text-indent:0; font-size:16px;}
.product_index .pro_summarytxt a:hover{border-bottom:2px solid #EE7F08;font-size:16px;}
.redtxt { color:#c00; }
.graytxt { color:#999; }
#iconbottom { width:68px; height:70px; float:right; margin:65px 0 0 0; padding:0; }
#iconbottom span {float:left; padding:0; margin:0; }
#iconbottom span img { border:none; margin-bottom:5px; }
.pic_more { float:right; }
.pic_more img { border:none; background:transparent; margin-bottom:5px; }
#proList li { line-height:2.0; }
#productshow { width:98%; margin:0 auto; }
.producttitle { width:100%; background:url(../images/parts/basket/protitle_bg.jpg) repeat-x; height:51px; }
.productimg { margin:30px; }
#prodescription { padding:30px; margin:0; font-family:"宋体"; color:#666; }
#prodescription li { line-height:25px; }
#prodescription span { width:85px; text-align:right; float:left; }
#prodescription h4 { font-size:14px; color:#666; }
.prodetails { line-height:25px; margin:30px 20px 0; }
#probutton { width:100%; text-align:center; margin:30px 0; }
/*招聘表单*/
#jobSend { }
#jobSend li { padding:8px 0; }
#jobSend label { width:6em; padding-right:5px; float:left; }
/*新闻列表&招聘*/
#jobList { width:98%; margin:15px 0; padding:0; list-style:none; }
#jobList li { height:32px; line-height:32px; background:#FAFBF8 ; padding-left:20px; float:left; }
#newsList .whiteLi, #jobList .whiteLi {}
#newsList li span, #jobList li span { float:right; }
.jobInfo { width:100%; border:0; }
.jobh { background-color:rgba(177,17,17,0.62); padding-top:6px!important; padding-top:6px; height:30px; }
.jobh strong { color:#000; line-height:20px!important; line-height:14px; padding-left:4px; margin:0; float:left; }
/*Add on 2007-05-06*/
ul#newsList { margin-top:10px; padding-top:10px; border-top:#00B2C5 3px solid; }
ul#newsList li { line-height:30px; border-bottom:#999 1px dashed; list-style:none;  padding:0 0 0 25px; }
ul#newsList li a{ font-size:16px;width:100%; height:100%; margin:10px auto; padding:5px 5px 5px 10px;}
ul#newsList li a:hover{border-left:4px solid #E69111;}
span.newsTime { color:#CCCCCC; float:right; }
.apartLine { border-bottom:1px solid #ccc; padding-bottom:10px; margin-bottom:10px; }
dl { margin:0; padding:0; }
dd { margin:0; line-height:20px; }
/*end Add----------------------------------------*/
/*图文页底部*/
#articeBottom { width:100%; text-align:right; margin:6px 0 10px 0; padding-top:10px; }
#articeBottom {}
/*分页*/
#apartPage { color:#6A591F; float:right; }
#apartPage li { display:inline; float:left; padding:2px; }
#prev { width:50%; text-align:left; float:left; }
#next { width:49.9%; float:right; }
/*图文页顶部*/
#stuffbox-newspage { width:100%;  margin:6px 0 10px 0; padding-top:1px; }
#articleHeader { color:#6A591F; padding:10px 0 5px 0; }
#articleHeader h4 a{font-size:14px; color: #333; }
#articleHeader span { float:right; }
#articleHeader strong { color:#557A34; font-weight:normal; }
#correlationStuff { width:100%; color:#aaa; background:#F8F7EF ; margin-top:0; padding-bottom:1px; }
#correlationStuff li { line-height:20px; margin:0; }
#myStuff { float:left; width:100%; }
#myStuff span { color:#557A34; }
.topPadding { padding-top:10px; }
/*评论*/
#commentLink { width:30%; float:right; }
#commentLink span { padding:0 6px 0 20px; float:right; }
/*form css style*/
#tbguest { width:100%; text-align:left; clear:both; margin-top:10px; }
#tbguest td { padding-bottom:5px; }
#tbguest td.tdtxt { padding-left:5px; text-align:right; width:100px; }
#tbguest td input, #tbguest td textarea { border:1px solid #D2D9D8; }
.w90 { width:90px; }
/*下载$视频&模版内容页*/
#downView, #playerDIV, #templateView { margin-top:10px; }
#downView li, #playerDIV li, #templateView li { line-height:2.0; }
#downView p, #playerDIV p, #templateView p { color:#666; margin:0; padding:10px 0; }
#downList { width:100%; padding:1px; margin-top:15px; border:1px solid #e2e2e2; }
#downList th { color:#930; border-right:1px solid #fff; background-color:#F5FFEC; padding-left:4px; line-height:25px; text-align:left; }
#downList ul, #downList li { margin:0; padding:0; list-style:none; }
#downList li { width:32.6%; float:left; padding-left:4px; line-height:2.0; border-bottom:1px solid #f1f1f1; background-color:#F5F5F5; }
.leftBorder { border-left:1px solid #fff; }
#videoBorder { border:10px solid #ccc; border-top-color:#e1e1e1; border-left-color:#e1e1e1; padding:1px; background-color:#000; }
/*调用列表
#pagelist { padding:0px; width:95%; font-size:16px; list-style-type:none; margin-left:20px; margin-bottom:10px; }
#pagelist li { width:95%; height:30px; }
#pagelist li a .lbt { display:block; width:448px; float:left; text-indent:20px; text-decoration:none; white-space:nowrap; text-overflow:ellipsis; overflow: hidden; display:inline; }
#pagelist li a .ldt { display:block; width:75px; float:right; text-align:center; color:#069; text-decoration:none; display:inline; }
#pagelist li a { width:95%; height:30px; display:block; line-height:30px; color:#666; text-decoration:none; cursor:hand; overflow:hidden; }
#pagelist li a:hover { color:#03c; text-decoration:none; }
#pagelist li a:hover .ldt { color:#000; }
#pagelist h1 { font-family: Arial, sans-serif; font-size: 20px; color: #369; padding-bottom: 4px; border-bottom: 1px solid #999; margin-top:10px; text-decoration: none; }
#pagelist h1 a:hover { font-family: Arial, sans-serif; font-size: 20px; color: #369; padding-bottom: 4px; border-bottom: 1px solid #999; margin-top:10px;}
*/
/*购物模块*/
.jiesuan {border-radius:8px 0 8px 0;font-size:20px;padding-top:5px;background:#E9A032;width:120px;height:35px;float:left;margin:0 auto 0 12px;text-align:center;}
#mycart { width:98%; float:left; overflow:hidden; margin-bottom:15px; }
#mycarttitle { width:80%; height:25px; float:left; padding:0 0 0 0; font-size:18px; color:#000; font-weight:bold; }
#step1 { width:375px; height:35px; float:left; margin:15px 0 15px 105px; display:inline; background:url(../images/parts/basket/step1_bg.jpg) no-repeat; padding:0; }
#step2 { width:375px; height:35px; float:left; margin:15px 0 15px 105px; display:inline; background:url(../images/parts/basket/step2_bg.jpg) no-repeat; padding:0; }
#step3 { width:375px; height:35px; float:left; margin:15px 0 15px 105px; display:inline; background:url(../images/parts/basket/step3_bg.jpg) no-repeat; padding:0; }
#step1 li, #step2 li, #step3 li { width:125px; float:left; padding-top:10px; text-align:center; color:#b6b6aa; }
#step1 #selected, #step2 #selected, #step3 #selected { font-weight:bold;color:#0d0de9; }
.ordercontents { width:100%; float:left; overflow:hidden; }
.ordercontents table { width:100%; margin:20px auto; }
.titleborder { border-bottom:2px #000000 solid; }
.orderborder { border-bottom:2px #000000 solid; border-right:2px #000 solid;border-left:2px  #000000 solid;}
.proamount { width:40px; height:20px; }
#prototal { float:right; margin:25px 15px 10px 0; display:inline; }
#prototal span { float:left; margin-top:2px; }
#prototal .totalprice { color:#fc6f4c; font-size:18px; font-weight:bold; margin-top:0px; }
#nextbutton { width:60%; height:35px; float:left; margin:50px 35px 0 210px; display:inline; }
#nextbutton img { border:none; }
.orderdetails { width:100%; float:left; overflow:hidden; }
.orderdetails h2 { font-size:16px; font-weight:bold; color:#333; margin:0 0 15px 20px; float:left; }
.orderdetails table { width:100%; border-top:1px solid #A7CBFF; border-left:1px solid #A7CBFF; margin:20px auto; }
.orderdetails .ordertitle { background:#e9ac51; font-weight:bold; height:35px; }
.orderdetails td { border:1px solid #A7CBFF; }
.orderdetails p { padding-left:20px; float:left; width:95%; margin:0 0 10px 0; }
.orderdetails span { width:80px; float:left; text-align:right; padding-top:8px; }
.ordertext { width:120px; height:30px; float:left; margin-left:15px; display:inline; border:1px solid #534543; }
.orderadd { width:240px; height:30px; float:left; margin-left:15px; display:inline; border:1px solid #534543; }
.orderdetails h5 { font-size:12px; margin-top:60px; font-weight:normal; }
.clear { clear:both; }
