<?xml version="1.0" encoding="utf-8"?>
<WebSite>
	 <SiteName>4.2电脑店模板</SiteName>
	 <FileName>全新电脑公司</FileName>
	 <SiteMaster>学无止境</SiteMaster>
	 <PubDate>2015-06-10</PubDate>
	 <StyleType>清新型</StyleType>
	 <summary>4.2电脑店模板</summary>
	 <pic>preview/index_s.jpg</pic>
	 <opic>preview/index.jpg</opic>
</WebSite>
